<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddressBookSplit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8C404271E37C8DB00BA4D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8C4043D1E37C8DB00BA4D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8C404481E37C8DB00BA4D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
